body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.registro {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.registro label {
  font-weight: bold;
}

registro input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.registro button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

registro button:hover {
  background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}